.step-heading{
    text-shadow: none;
    text-align: left;
    font-family: Helvetica;
    font-weight: normal;
    padding: 10px;
    padding-top: 30px;
    font-size: 1.4rem;
}
.stepCount{
    color: grey;
}
.editCodeError{
    color: red;
    padding: 10px;
    margin: 0;
}
.labels{
    margin-left: 15px;
    color: rgba(255, 255, 255, 0.5);
}
.info-paragraph{
    font-size: .8rem;
    padding: 0 15px;
    color: rgba(255, 255, 255, 0.5);
}




.update1-container{
    width: 100vw;
    height: 80vh;
}
.editCodeField{
    width: 300px;
    background: none;
    border: 1px solid rgb(60, 60, 60);
}
.editCodeField:focus{
    border: 2px solid #2b7df8;
}








.update2-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.ttNameField{
    width: 300px;
    font-size: 1.4rem;
    background: none;
    border-radius: 10px;
    border: 1px solid rgb(60, 60, 60);
    margin: 10px;
    margin-bottom: 20px;
}
.description{
    width: 300px;
    height: 100px;
    font-size: 1rem;
    background: none;
    border-radius: 10px;
    border: 1px solid rgb(60, 60, 60);
    margin: 10px;
    padding: 10px;
    color: white;
}

.update3-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.new-navbuttons{
    width: 95%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
}
.new-navbuttons button{
    width: 100%;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid rgb(60, 60, 60);
    border-radius: 5px;
    background: none;
    color: white;
    font-size: 1rem;
    font-family: QuickSandLight;
    transition: background-color 0.1s;
}
.new-navbuttons .prev-btn{
    margin-right: 2px;
    border-top-left-radius: 15px;
}
.new-navbuttons .next-btn{
    margin-left: 2px;
    border-top-right-radius: 15px;
}
.new-navbuttons button:active{
    color: rgba(255, 255, 255, 0.5);
}
.newClasslist{
    margin-top: 5px;
    width: 95%;
    max-width: 500px;
}
.update-btn-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.newClass-btn{
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px);
    transition: background-color 0.1s;
}
.newClass-btn:active{
    background-color: #1a58b3;
}