.update2-container{
    width: 100vw;
}
.ttNameField{
    width: 300px;
    font-size: 1.4rem;
    background: none;
    border-radius: 10px;
    border: 1px solid rgb(60, 60, 60);
}
.add-update-container{
    display: flex;
    justify-content: space-between;
}
.newClass-btn{
    margin: 10px;
}
.newClass-btn:hover{
    background-color: #1a58b3;
}