.newTimeTable{
    color: white;
    background-color: #1592157a;
    border: 1px solid rgba(255, 255, 255, 0.525);
    padding: 6px;
    border-radius: 5px;
    font-size: 1rem;
    margin: 10px;
}
.recentlHeading{
    font-family: QuickSandRegular;
    font-size: 1.5rem;
    margin: 10px;
    background: linear-gradient(90deg, white 0%, #159215 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.recentlyViewed{
    min-width: auto;
    margin: 10px;
    padding: 10px;
    background-color: #2b7df800;
    /* blur */
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.518);
    cursor: pointer;
    border-radius: 5px;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.1s;
}
.recentlyViewed:hover{
    background-color: rgba(255, 255, 255, 0.284);
}
.recentlyViewedContainer {
    padding-bottom: 20px;
    background:
        radial-gradient(circle at right, #2b7df856, transparent 100%),
        radial-gradient(circle at left, #ff004856, transparent 100%)

}