.dayTitle{
    font-size: 2rem;
    margin: 20px;
    text-align: left;
    text-shadow: none;
}
.ttNameField{
    margin: 10px;
    margin-bottom: 0;
    padding: 10px;
    color: white;
    background: rgba(43, 125, 248, 0.272);
    border-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1), 5px 5px 20px #00000093;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: none;
    border-bottom: 6px solid #2b7df8c7;
    transition : border-left 300ms linear;
    font-family: QuickSandLight;
    font-size: 1.5rem;
}
.ttNameField:focus{
    outline: none;
}
input::placeholder{
    color: rgba(255, 255, 255, 0.349);
    text-shadow: none;
}
input[type=time]{
    text-shadow: none;
}
.newClass-btn{
    background: #2b7df8;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
}