:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  user-select: none;
}

*::selection {
  color: #2b7df8;
  background-color: white;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 100;
  font-family: QuicksandLight, "Roboto Light", sans-serif;
  text-shadow: 0px 0px 10px #ffffff;
  user-select: text;
}

.timetable-container {
  height: 95vh;
  background-image: 
  linear-gradient(to right, rgba(128, 128, 128, 0.4) 1px, transparent 1px),
  linear-gradient(to bottom, rgba(128, 128, 128, 0.4) 1px, transparent 1px);
  box-shadow: inset 0 0 900px black,inset 0 0 900px black,inset 0 0 900px black;
  background-size: 40px 40px;
  animation: moveBackground 1s linear infinite; 
}

@keyframes moveBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 40px;
  }
}

.title {
  font-size: 2rem;
  margin: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

.info {
  text-align: center;
  font-family: QuickSandLight, "Roboto Light", sans-serif;
  text-shadow: 0px 0px 5px #ffffff;
  margin-top: -5px;
  font-size: 0.9rem;
}

.info a {
  text-decoration: underline;
}

.info a:hover {
  color: lightblue;
  transition: color 300ms linear;
  text-shadow: none;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.date-edit-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.carousel {
  -webkit-tap-highlight-color: transparent;
}

.edit-btn {
  display: flex;
  align-items: center;
  margin: 10px;
}

.edit-btn p {
  font-size: 1.2rem;
  font-family: QuicksandRegular, "Roboto Medium", sans-serif;
}

.edit-btn p:hover {
  color: #2b7df8;
}

.edit-icon {
  width: 20px;
  margin: 10px;
}

.edit-icon:hover {
  color: #2b7df8;
}