.new1-container{
    width: 100vw;
    height: 80vh;
}
.ttNameField{
    width: 300px;
    background: none;
    border: 1px solid rgb(60, 60, 60);
}
.ttNameField:focus{
    border: 2px solid #2b7df8;
}