.newClass{
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.13);
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.347);
    border-bottom: none;
    border-top: none;
    font-family: QuickSandLight;
}
.newClass:first-of-type{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.347);
}
.newClass:last-of-type{
    margin-bottom: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.347);
}


.timeField{
    display: flex;
    flex-direction: column;
}
.newClass input[type="text"]{
    max-width: 30%;
    background-color: #00000000;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    color: white;
    text-shadow: 0px 0px 4px #ffffff;
    font-family: QuickSandLight;
    margin: 5px;
    padding: 10px;
}
.newClass input:focus{
    background-color: #2b7df8;
    outline: none;
}
.newClass input[type="time"]{
    max-width: 60px;
    color: white;
    background-color: #000000;
    border: 1px solid rgb(60, 60, 60);
    font-size: .9rem;
    margin: 0;
    padding: 2px;
}
.newClass input[type="time"]::-webkit-calendar-picker-indicator{
    display: none;
}
.startTimeField{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.endTimeField{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.deleteClass-btn{
    height: 60px;
    width: 60px;
    border: none;
    padding: 2px;
    margin-left: 5px;
    background: rgb(255, 55, 55);
    box-shadow: -10px 0 30px 10px rgba(0, 0, 0, 0.45);
}
img.deleteIcon{
    width: 30px;
    height: 30px;
    background: rgb(255, 55, 55);
}