.container{
    border-radius: 10px;
    background-color: rgb(var(--background-rgb));
    border: 1px solid rgb(var(--foreground-rgb));
    padding: 10px;
    overflow: hidden;
}
input{
    border: none;
    background: transparent;
    padding: 10px;
    outline: none;
    color: rgb(var(--foreground-rgb));
    font-size: 1.5rem;
}
input::placeholder{
    color: rgba(var(--foreground-rgb),0.5);
}