.updateTimeTable-btn{
    color: white;
    background-color: #159215;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-family: QuickSandRegular;
}
.updateTimeTable-btn:disabled{
    background-color: #0f3c80;
    color: rgba(255, 255, 255, 0.322);
}